@font-face {
	font-family: 'SoberanaSans-Light';
	src: url('fonts/SoberanaSans/SoberanaSans-Light.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Soberana_Bold';
	src: url('fonts/SoberanaSans/SoberanaSans-Bold.otf');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
	display: table; 
	content: ''; 
}
.clearfix:after { 
	clear: both; 
}

.header-wrap {
	color: #fff;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 1;
    text-align: center;
}

.header-wrap h2{
	font-family:SoberanaSans-Light;
	font-size: 20px;
}

.bg-paz{
	background: #24AF85;
}
#container{ 
    margin-top: 50px;
}

h1.title {
	position:relative;
	font-family:Soberana_Bold;
	font-size:40px;
	color:#462B60;
	font-weight:500;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	text-align:center;
	display:block;
	clear:both;
	
	margin-top:20px;
	margin-bottom:0;	
	-webkit-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased; 
}
