@font-face {
	font-family: 'SoberanaSans_Bold';
	src: url('fonts/soberana/SoberanaSans-Bold.eot');
	src: url('fonts/soberana/SoberanaSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/soberana/SoberanaSans-Bold.woff2') format('woff2'),
		url('fonts/soberana/SoberanaSans-Bold.woff') format('woff'),
		url('fonts/soberana/SoberanaSans-Bold.ttf') format('truetype'),
		url('fonts/soberana/SoberanaSans-Bold.svg#SoberanaSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SoberanaSans_Light';
	src: url('fonts/soberana/SoberanaSans-Light.eot');
	src: url('fonts/soberana/SoberanaSans-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/soberana/SoberanaSans-Light.woff2') format('woff2'),
		url('fonts/soberana/SoberanaSans-Light.woff') format('woff'),
		url('fonts/soberana/SoberanaSans-Light.ttf') format('truetype'),
		url('fonts/soberana/SoberanaSans-Light.svg#SoberanaSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/awesome/fontawesome-webfont.eot?v=4.6.3');
  src: url('fonts/awesome/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), 
	  url('fonts/awesome/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), 
	  url('fonts/awesome/fontawesome-webfont.woff?v=4.6.3') format('woff'), 
	  url('fonts/awesome/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), 
	  url('fonts/awesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'DJB_Smarty_Pants';
	src: url('fonts/smartypants/DJBSmartyPants.eot');
	src: url('fonts/smartypants/DJBSmartyPants.eot?#iefix') format('embedded-opentype'),
		url('fonts/smartypants/DJBSmartyPants.woff2') format('woff2'),
		url('fonts/smartypants/DJBSmartyPants.woff') format('woff'),
		url('fonts/smartypants/DJBSmartyPants.ttf') format('truetype'),
		url('fonts/smartypants/DJBSmartyPants.svg#DJBSmartyPants') format('svg');
	font-weight: normal;
	font-style: normal;
}

.header-wrap {
	color: #fff;
    position: relative;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 1;
    text-align: center;
    display: inline-table;
}

.header-wrap h2{
	font-family:SoberanaSans_Light;
	font-size: 20px;
}

.footer-wrap {
	color: #fff;
    position: absolute;
    width: 100%;
    height: 100px;
    margin-bottom:0px;
    text-align: center;
    letter-spacing: 1px;
}

.footer-wrap h2{
	top: 10px;
	font-family:SoberanaSans_Light;
	font-size: 26px;
}

.footer-wrap h2 span{
	top: 10px;
	font-family:SoberanaSans_Bold;
	font-size: 30px;
}

.hero {
    position:relative;
    height:70px !important;
    width:100% !important;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    margin-top: 30px;
    z-index: 1;
    text-align: center;
    display: inline-table;
}

.hero h2{
	font-family:SoberanaSans_Light;
	font-size: 20px;
}

.hero:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 30px #24AF85;
    border-left: solid 60px transparent;
    border-right: solid 60px transparent;
}

/*****************************************************/

.bg-paz{
	background: #24AF85;
	color: #fff;
}

.t-paz{
	color: #24AF85;
}

.bg-inicio{
	background: #462B60;
	color: #fff;
}

.t-inicio{
	color: #462B60;
}

.bg-incluyente{
	background: #B297C7;
	color: #fff;
}

.t-incluyente{
	color: #B297C7;
}

.bg-educacion{
	background: #6FBA69;
	color: #fff;
}

.t-educacion{
	color: #6FBA69;
}

.bg-prospero{
	background: #EE7436;
	color: #fff;
}

.t-prospero{
	color: #EE7436;
}

.bg-global{
	background: #118889;
	color: #fff;
}

.t-global{
	color: #118889;
}

.bg-democra{
	background: #5BA199;
	color: #fff;
}

.t-democra{
	color: #5BA199;
}

.bg-cercano{
	background: #BCCF02;
	color: #fff;
}

.t-cercano{
	color: #BCCF02;
}

.bg-genero{
	background: #E84040;
	color: #fff;
}

.t-genero{
	color: #E84040;
}

/******************************************************/
.container-obj{ 
    margin-top: 0px;
}

.container-ind{ 
    margin-top: 100px;
}

h1.title {
	position:relative;
	font-family:SoberanaSans_Bold;
	font-size:40px;
	color:#462B60;
	font-weight:500;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	text-align:center;
	display:block;
	clear:both;
	
	margin-top:20px;
	margin-bottom:10px;	
	-webkit-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased; 
}

h2.title {
	position:relative;
	font-family:SoberanaSans_Bold;
	font-size:28px;
	color:#462B60;
	font-weight:500;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
	text-align:center;
	display:block;
	clear:both;
	
	margin-top:20px;
	margin-bottom:10px;	
	-webkit-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased; 
}

.content-buttons{
	display: -webkit-flex;
   	display: flex;
   	-webkit-flex-direction: row;
   	flex-direction: row;
   	-webkit-align-items: center;
   	align-items: center;
   	-webkit-justify-content: center;
   	justify-content: center;
   	max-width: 100%;
}

.container-divs {
	padding-top: 0px;
  	display: -webkit-flex;
   display: flex;
}

.left-graf {
	flex: 1;
  	padding: 1rem;
  	text-align: center;
}
.left-graf h2{
	font-family: SoberanaSans_Bold;
	font-size: 18px;
	margin-bottom: 5px;
}

.left-graf h2 span{
	font-family: SoberanaSans_Light;
	color: #462B60;
	font-size: 16px;
}

.left-graf h3{
	margin-top: 0;
	font-family: SoberanaSans_Bold;
	font-size: 18px;
}

.right-desc {
  	flex: 1;
  	padding: 1rem;
}

.right-desc hr{
  	width: 90%;
  	margin: 10px 0px 10px 0px;
	background: #462B60;
}

.question{
	width: 95%;
}

.question h1{
	text-align: center;
	font-family: SoberanaSans_Bold;
	font-size: 64px;
	margin: 25px 0px 5px 0px;
}

.question h2{
	font-family: SoberanaSans_Bold;
	font-size: 24px;
	margin: 5px 0px;
}

.question p{
	color: #462B60;
	font-family: SoberanaSans_Light;
	font-size: 20px;
	margin: 5px 0px;
}

.scroll-list {
  border:1px solid #fff;
  font-family: SoberanaSans_Light;
  font-size: 18px;
  height:150px;
  width: 90%;
  margin: auto;
}

.scroll-list ul{
  list-style:none;
  margin:0;
  overflow:auto;
  padding:0;
  text-indent:10px;
  font-weight: 500;
}

.scroll-list li{
  line-height:26px;
}

.scroll-list li:nth-child(even){
  background: rgba(255,255,255,0.1);
}
/******************************************/

.bullets {
	position: static;
	width: 100%;
	bottom: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
}

.bulletTitle span {
	color: #462B60;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	font-family: SoberanaSans_Light;
	font-size: 20px;
	margin: 5px 0px;
}

.bullets li {
	display: inline-block;
	width: 40px;
	height: 20px;
	margin: 0 3px;
	width: 80px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(http://172.22.75.89/work/models/PTP/programas/pnd/images/mira_tiny.png);
	/*background: rgba( 255, 255, 255, 0.5 );
	box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );*/
	cursor: pointer;

	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

/*.bullets li:hover {
	background: rgba( 255, 255, 255, 0.8 );
}*/

.bullets li.active {
	display: none;
	cursor: default;
	background: #000;
}

@media screen and (max-width: 400px) {

	.bullets li {
		margin: 0 6px;
	}

}

/********* menu metas ********/

.metas-icons {
	position: static;
	width: 100%;
	bottom: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
}

.metas-icons li {
	list-style: none;
	display: inline-block;
	width: 40px;
	height: 20px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 3px;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: bottom;
	opacity: 0.5;
	/*background-image: url(../images/mira_tiny.png);*/
	/*background: rgba( 255, 255, 255, 0.5 );
	box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );*/
	cursor: pointer;
	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

/*.bullets li:hover {
	background: rgba( 255, 255, 255, 0.8 );
}*/

@media screen and (max-width: 400px) {

	
	.metas-icons li {
		margin: 0 6px;
	}

}

/********* select **********/
.selectdiv {
  	width: 90%;
  	text-align: center;
  	border: 2px solid #462B60;
  	border-top: 0px;
  	margin: auto;
  	margin-top: 10px;

  	padding-top: 15px;
  	padding-bottom: 15px;
}

.selectdiv h2{
	color: #462B60;
  	font-family: SoberanaSans-Light;
  	font-size: 22px;
}

.selectdiv h2 span{
  	font-family: SoberanaSans_Bold;
  	font-size: 26px;
}


/*********** General button style (reset) ***********/
.btn {
	border: none;
	font-family: SoberanaSans_Light;
	font-size: inherit;
	cursor: pointer;
	margin: 15px 1%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before{
	font-family: FontAwesome;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/****************** iconos *******************/

.icon-cloud-download:before {
  content: "\f0ed";
}

.icon-search:before {
  content: "\f002";
}

.icon-refresh:before{
	content:"\f021";
}

/*************************************/

.btn-paz {
	border: 3px solid #24AF85;
	color: #24AF85;
	background: #fff;
}

.btn-paz:hover {
	background: #24AF85;
	color: #fff;
}

.btn-incluyente {
	border: 3px solid #B297C7;
	color: #B297C7;
	background: #fff;
}

.btn-incluyente:hover {
	background: #B297C7;
	color: #fff;
}

.btn-educacion {
	border: 3px solid #6FBA69;
	color: #6FBA69;
	background: #fff;
}

.btn-educacion:hover {
	background: #6FBA69;
	color: #fff;
}

.btn-prospero {
	border: 3px solid #EE7436;
	color: #EE7436;
	background: #fff;
}

.btn-prospero:hover {
	background: #EE7436;
	color: #fff;
}

.btn-global {
	border: 3px solid #118889;
	color: #118889;
	background: #fff;
}

.btn-global:hover {
	background: #118889;
	color: #fff;
}

.btn-democra {
	border: 3px solid #5BA199;
	color: #5BA199;
	background: #fff;
}

.btn-democra:hover {
	background: #5BA199;
	color: #fff;
}

.btn-cercano {
	border: 3px solid #BCCF02;
	color: #BCCF02;
	background: #fff;
}

.btn-cercano:hover {
	background: #BCCF02;
	color: #fff;
}

.btn-genero {
	border: 3px solid #E84040;
	color: #E84040;
	background: #fff;
}

.btn-genero:hover {
	background: #E84040;
	color: #fff;
}

.btn-paz:before,
.btn-incluyente:before,
.btn-educacion:before,
.btn-prospero:before,
.btn-global:before,
.btn-democra:before,
.btn-cercano:before,
.btn-genero:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/**************************************/

/* Button 3a */
.btn-3a {
	padding: 25px 3% 25px 70px;
}

.btn-3a:before {
	background: rgba(0,0,0,0.05);
}

/* Button 3b */
.btn-3b {
	padding: 25px 3% 25px 70px;
	border-radius: 10px;
}

.btn-3b:before {
	border-right: 2px solid #F3F3F3;
}

.btn-3a:active,
.btn-3b:active {
	top: 2px;
}

.btn-3e {
	width: 40%;
	height: 80px;
	padding: 10px 5%;
}

.btn-3e:before {
	left: auto;
	right: 10px;
	z-index: 2;
}

.btn-3e:after {
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.1);
	z-index: 1;
	right: 0;
	top: 0;
	margin: -5px 0 0 -5px;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

.btn-3e:hover:after {
	width: 0%;
}

.btn-3e span{
	font-family: SoberanaSans_Bold;
	font-size: 2.0em;
}

/************************************************/

.btn-1b{
	width: 40%;
	height: 80px;
	padding-right: 50px;
}

.btn-1b span{
	font-family: DJB_Smarty_Pants;
}

.btn-1b img{
	position: absolute;
	left: 83%;
	max-width: 60px;
	top: 10%;
}

.btn-1b:hover,
.btn-1b:active {
	top: 2px;
}

@media screen and (max-width: 1024px){
	.question{
		width: 100%;
	}

	.right-desc hr{
		width: 100%;
	}

	.selectdiv{
		width: 95%;
	}
}

@media screen and (max-width: 1000px){
	.content-buttons{
		-webkit-flex-wrap: wrap;
   		flex-wrap: wrap;
	}
}

@media screen and (max-width: 850px){
	.footer-wrap{
		height: 110px;
	}

	.footer-wrap h2{
		font-size: 24px;
	}

	.footer-wrap h2 span{
		font-size: 26px;
	}

	.selectdiv{
		margin-top: 10px;
	}
}

@media screen and (max-width: 840px){
	h1.title{
		font-size: 30px;
	}

	.container-divs{
		display: inline-block;
	}

	.footer-wrap{
		height: 100px;
	}

	.footer-wrap h2{
		font-size: 18px;
	}

	.footer-wrap h2 span{
		font-size: 20px;
	}

	.scroll-list{
		width: 100%;
	}

	.selectdiv h2{
		font-size: 18px;	
	}

	.selectdiv h2 span{
		font-size: 20px;
	}

	.question h2{
		font-size: 18px;
	}

	.question p{
		font-size: 16px;
	}

}

@media screen and (max-width: 800px){
	.btn {
		max-width: 600px;
		width: 90%;
		margin: 7px auto;
	}
}

@media screen and (max-width: 421px){
	.selectdiv{
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media screen and (max-width: 480px){
	h1.title{
		padding-top: 40px;
		font-size: 30px;
	}